*.a
*.o
*.sw?
*.deb
*.IMG
*.cmarkers
*.idb
*.ri
.cache
orig
share
real-ld
objcopy
objdump
ld
coffsyrup
drawtest
123
binutils-*
gzip-*
keymap/keymap
res/resgen
dist/lotus123r3_*_i386/
compile_commands.json
gunzip
gzip
zcat
