## Lotus 1-2-3 root
root

## original .o files
orig

## original archive images
*.IMG

## generated binary/objects
*.o
*.sw?
coffsyrup
123

## from custom binutils builds
ld
objcopy
objdump
real-ld

binutils-*
drawtest
*.a
